@import '../../GlobalStyle.scss';


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $gray-100;
    color: white;

    img {
        width: 150px;
        height: auto;
    }

    div {
        display: flex;
        align-items: center;

        button {
            background: none;
            border: none;
            cursor: pointer;
            color: $gray-300;
            margin-right: 10px;

            span {
                background-color: $primary-color;
                color: white;
                border-radius: 50%;
                padding: 5px;
                font-size: 14px;
            }
        }

        form {
            display: flex;
            align-items: center;

            input[type="text"] {
                padding: 5px;
                border-radius: 5px;
                border: none;
                margin-right: 5px;
            }

            button[type="submit"] {
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }

    .react-icons {
        color: white;
        margin-right: 5px;
    }

    .react-icons-md-search {
        
    }

    .react-icons-md-shopping-cart {
      
    }

    @media screen and (max-width: 768px) {
        padding: 10px;
        
        img {
            width: 120px;
        }

        div {
            button {
                margin-right: 5px;
            }

            form {
                input[type="text"] {
                    padding: 3px;
                    margin-right: 3px;
                }
            }
        }
    }
}
