@import '../../GlobalStyle.scss';

.cart-modal {

   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 9999;
   background-color: white;
   width: 100%;
   max-width: 400px;
   border-radius: 8px;
   overflow-y: auto;
   


   .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding: 0 20px;
      background-color: $primary-color ;
      height: 48px;

      h2 {
         margin: 0;
      }

      button {
         background: none;
         border: none;
         cursor: pointer;
      }
   }

   .modal-body {
      ul {
         list-style: none;
         padding: 0;
         margin: 0;

         li {
            margin-bottom: 10px;
         }
      }
   }


   .modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding: 0 20px;

      .total {
         font-weight: bold;
      }

      button {
         background-color: $gray-300;
         color: #fff;
         border: none;
         border-radius: 5px;
         padding: 8px 16px;
         cursor: pointer;
      }
   }


   @media (max-width: 768px) {
      width: 90%;
   }
}
